*{
    font-family: Forte;

}

h3{
    animation: typing 3s steps(20);
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid deeppink;
       transform-style: preserve-3d;
    transform:rotateZ(90deg);
   margin-left: 10px;
}


@keyframes typing {
    0%{
        width: 0;
    }
    60%{
        width: 10ch;
    }
    100%{
        width: 20ch;
    }

}